@model IEnumerable<Campus.School.Management.Logic.BusinessLayer.ViewModel.QurterViewModel>
@using Campus.School.Management.Logic.Resources

<table class="ui selectable  single line Striped celled  compact table" id="myTable">
    <thead>
        <tr class="">
           
          
            <th>
                @Html.DisplayNameFor(model => model.SemNameE)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.SemNameA)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QID)
            </th>

         
            @*<th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.QStudyWeeks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QStudyWeeksAbs)
            </th>
           
            <th>@GeneralResource.Edit</th>
            <th>@GeneralResource.Delete</th>
        </tr>
    </thead>
 
    @foreach (var item in Model)
    {
       
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.SemNameE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemNameA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QID)
            </td>
            
            @*<td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.QStudyWeeks)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.QStudyWeeksAbs)
            </td>
           
            <td>
                <a href="#" onclick="Edit(@item.ID);"> <i class="ui edit icon"></i></a>

            </td>
            <td>
                <a href="#" onclick="Delete(@item.ID);"> <i class="ui delete red icon"></i></a>

            </td>
        </tr>
    }
  
</table>

<script>
    $(document).ready(function () {
        function InitIndex()
        {
            $('#myTable').DataTable();
            var Msg = '@TempData["Msg"]';
            if (Msg == 1)
            {
                toastr.success("@GeneralResource.toastrSave")
            }
            else if (Msg == 2)
            {
                toastr.success("@GeneralResource.toastrEdit")
            }
            else if (Msg == 3)
            {
                toastr.success("@GeneralResource.toastrDelete")
            }
            else if (Msg == 4) {
                toastr.error("@GeneralResource.toastrOperationFaild")
            }

        };
        InitIndex();
    });
</script>

