@model Campus.School.Management.Logic.BusinessLayer.ViewModel.StageViewModel
@using Campus.School.Management.Logic.BusinessLayer
@using System.Web.Mvc;
@using Campus.School.Management.Logic.Resources

<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Ajax.BeginForm("Create", "Stage", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" },new { @class="ui form"}))
{
    @Html.AntiForgeryToken()

    


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(c => c.Stage_ID)
        @Html.HiddenFor(c => c.IsNew)

       <div class="field">
            @Html.LabelFor(model => model.StageNameEn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StageNameEn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StageNameEn, "", new { @class = "text-danger" })
            </div>
        </div>


       <div class="field">
            @Html.LabelFor(model => model.StageNameAr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StageNameAr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StageNameAr, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="actions">
            <button type="submit"  class="ui primary button " name="cmd">@*<i class="fa fa-check"></i>*@&nbsp;@GeneralResource.Save</button>
            <button type="button" class="ui deny button" data-dismiss="modal">@*<i class="fa fa-times"></i>*@&nbsp;@GeneralResource.Close</button>

        </div>
    
}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")


}
<script>

    function InitC() {

        $('.date-picker').datepicker({
            format: 'yyyy/mm/dd'
        });

    };
    InitC();

</script>
