@model IEnumerable<Campus.School.Management.Logic.BusinessLayer.ViewModel.AccountEmployeesMonthlySalaryViewModel>

@using Campus.School.Management.Logic.Resources

<link href="@Server.MapPath("~/Content/Css/pdf.css")" rel="stylesheet" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<table>
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Employee_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BonusesSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.extraSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socialinsurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicalinsurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dedecation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDedecated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationDate)
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.IsPaid)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceSalary2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceSalary3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transitionallowance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subsistenceallowance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drivingallowance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.conditionsworkallowance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accommodationallowanc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sumallowance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentsalariesway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costcenterName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accommodationallowancetype)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasicSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowanceSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BonusesSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.extraSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Socialinsurance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicalinsurance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Taxes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dedecation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDedecated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationDate)
                </td>
                <td>
                   @* @Html.DisplayFor(modelItem => item.IsPaid)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowanceSalary2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowanceSalary3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transitionallowance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subsistenceallowance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Drivingallowance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.conditionsworkallowance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accommodationallowanc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sumallowance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentsalariesway)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.costcenterName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accommodationallowancetype)
                </td>
            </tr>
        }
    </tbody>

</table>
