@model IEnumerable<Campus.School.Management.Logic.BusinessLayer.ViewModel.BankViewModel>
@using Campus.School.Management.Logic.Resources
<table class="ui selectable  single line Striped celled  compact table" id="myTable">
    <thead>
        <tr class="">
            <th>
                @GeneralResource.Actions
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            @if (ViewBag.lang == "ar")
            {
                <th>
                    @Html.DisplayNameFor(model => model.BankNameAr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankAccountNameAr)
                </th>
            }
            else
            {
                <th>
                    @Html.DisplayNameFor(model => model.BankNameEn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankAccountNameEn)
                </th>
            }



            <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td>
        <a href="#" onclick="Edit(@item.BankID);"> <i class="feather icon-edit-1"></i></a>


        <a href="#" onclick="Delete(@item.BankID);"> <i class="feather red icon-trash"></i></a>

    </td>
    <td> @Html.DisplayFor(modelItem => item.AccountNumber)</td>
    @if (ViewBag.lang == "ar")
    {
        <td>
            @Html.DisplayFor(modelItem => item.BankNameAr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountNameAr)
        </td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.BankNameEn)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BankAccountNameEn)
        </td>
    }


    <td>
        @Html.DisplayFor(modelItem => item.BranchName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OpeningBalance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>




</tr>
    }

</table>

<script>
    $(document).ready(function () {
        function InitIndex()
        {
            $('#myTable').DataTable();
            var Msg = '@TempData["Msg"]';
            if (Msg == 1)
            {
                toastr.success("@GeneralResource.toastrSave")
            }
            else if (Msg == 2)
            {
                toastr.success("@GeneralResource.toastrEdit")
            }
            else if (Msg == 3)
            {
                toastr.success("@GeneralResource.toastrDelete")
            }
            else if (Msg == 4) {
                toastr.error("@GeneralResource.toastrOperationFaild")
            }
              else if (Msg == 5) {
                toastr.error("@GeneralResource.NotAllowedDelete")
            }

        };
        InitIndex();
    });
</script>