@model Campus.School.Management.Logic.BusinessLayer.ViewModel.BusViewModel
@using Campus.School.Management.Logic.BusinessLayer
@using System.Web.Mvc;
@using Campus.School.Management.Logic.Resources

<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Ajax.BeginForm("Edit", "Bus", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" },new { @class="ui form"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(c => c.BusID)



    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(c => c.BusID)
       <div class="">
        
            @*<div class="ui large dividing header">
                <i class=""></i>Edit Bus
            </div>*@
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config">
                </a>
            </div>
        </div>
       <div class="ui container">

           <div class="ui top attached tabular menu">

               <a data-tab="tab_1_1" class="active item" data-toggle="tab">
                   Bus
               </a>

               <a data-tab="tab_1_2" class="item" data-toggle="tab">
                   Bus Detail
               </a>

               <a data-tab="tab_1_3" class="item" data-toggle="tab">
                   Bus Trip
               </a>


           </div>

           <div class="ui bottom attached active tab segment" data-tab="tab_1_1">
               <div class="ui bus form">
                   <div class=" two fields">
                       <div class="field">
                           @Html.LabelFor(model => model.BusNo, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.BusNo, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.BusNo, "", new { @class = "text-danger" })
                           </div>

                           @Html.LabelFor(model => model.BusType, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.BusType, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.BusType, "", new { @class = "text-danger" })
                           </div>
                       </div>

                       <div class="field">
                           @Html.LabelFor(model => model.Manufactur, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.Manufactur, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.Manufactur, "", new { @class = "text-danger" })
                           </div>

                           @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                           </div>
                       </div>
                   </div>
                   <div class=" two fields">
                       <div class="field">
                           @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                           </div>

                           @Html.LabelFor(model => model.ChassisNo, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.ChassisNo, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.ChassisNo, "", new { @class = "text-danger" })
                           </div>
                       </div>

                       <div class="field">
                           @Html.LabelFor(model => model.LicenseStart, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.TextBoxFor(model => model.LicenseStart, "{0:MM/dd/yyyy}", new { @class = "form-control  form-control-inline  date-picker" })
                               @Html.ValidationMessageFor(model => model.LicenseStart, "", new { @class = "text-danger" })
                           </div>

                           @Html.LabelFor(model => model.LicenseEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.TextBoxFor(model => model.LicenseEnd, "{0:MM/dd/yyyy}", new { @class = "form-control  form-control-inline  date-picker" })

                               @Html.ValidationMessageFor(model => model.LicenseEnd, "", new { @class = "text-danger" })
                           </div>
                       </div>
                   </div>
                   <div class=" two fields">

                       <div class="field">
                           @Html.LabelFor(model => model.IssuedFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.IssuedFrom, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.IssuedFrom, "", new { @class = "text-danger" })
                           </div>

                           @Html.LabelFor(model => model.LicenseNo, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">

                               @Html.EditorFor(model => model.LicenseNo, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.LicenseNo, "", new { @class = "text-danger" })

                           </div>

                       </div>
                       <div class="field">
                           @Html.LabelFor(model => model.PassengersNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                           <div class="col-md-4">
                               @Html.EditorFor(model => model.PassengersNumber, new { htmlAttributes = new { @class = "form-control" } })
                               @Html.ValidationMessageFor(model => model.PassengersNumber, "", new { @class = "text-danger" })
                           </div>
                       </div>
                   </div>

               </div>
           </div>

           <div class="ui bottom attached tab segment" data-tab="tab_1_2">
               @Html.Partial("_BusDetailsList", Model)
           </div>
           <div class="ui bottom attached tab segment" data-tab="tab_1_3">
               <div class="field">
                   <div class="col-md-12">
                       @Html.Partial("_BusTripsList", Model)
                   </div>
               </div>
           </div>




       </div>


               <div class="actions">
                   <button type="submit" class="ui primary button " name="cmd">@GeneralResource.Edit</button>
                   <button type="button" class="ui deny button" data-dismiss="modal">@GeneralResource.Close</button>

               </div>
               }



               @section Scripts {

                   @Scripts.Render("~/bundles/jqueryval")


               }
               <script>

                   function InitC() {

                       $('.date-picker').datepicker({
                           format: 'yyyy/mm/dd'
                       });
                       $('.menu .item')
                           .tab()
                           ;
                   };
                   InitC();

               </script>
