@model IEnumerable<Campus.School.Management.Logic.BusinessLayer.ViewModel.FormDetails>

    <link href="@Server.MapPath("~/Content/Css/pdf.css")" rel="stylesheet" />

<table>
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.ItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiveQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.ItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiveQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        
       
       
    </tr>
}

</table>
