@model Campus.School.Management.Logic.BusinessLayer.ViewModel.AcademicYearViewModel
@using Campus.School.Management.Logic.BusinessLayer
@using System.Web.Mvc;
@using Campus.School.Management.Logic.Resources

@*<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>*@


@using (Ajax.BeginForm("Create", "AcademicYear", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" },new { @class="ui form"}))
{
    @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="field">
                @Html.LabelFor(model => model.Stage_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="">
                    @Html.DropDownList("Stage_ID", @ViewBag.Stage_ID as SelectList, htmlAttributes: new { @class = "ui selection  dropdown" })
                    @Html.ValidationMessageFor(model => model.Stage_ID, "", new { @class = "text-danger" })
                </div>
            </div>
        

        <div class="field">
            @Html.LabelFor(model => model.AcadmicName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="">
                @Html.EditorFor(model => model.AcadmicName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AcadmicName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="actions">
            <button type="submit" class="ui primary submit button" name="cmd"> @GeneralResource.Save</button>
            <button type="button" class="ui deny button" >@*<i class="fa fa-times"></i>*@&nbsp;@GeneralResource.Close</button>

        </div>
   
}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    
}
