
@model Campus.School.Management.Logic.BusinessLayer.ViewModel.EmployeeViewModel

@using Campus.School.Management.Logic.Resources

<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Ajax.BeginForm("ChangeSponsor", "Employee", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessChangeSponsor" }, new { @class = "ui changeSponsor form" }))

{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Employee_ID)
<div class="field">
    @Html.LabelFor(model => model.CurrentSponsor, htmlAttributes: new { @class = "" })
    @Html.TextBoxFor(model => model.CurrentSponsor, htmlAttributes: new { @class = "",@readonly="" })

</div>
<div class="field">
    @Html.LabelFor(model => model.NewSponsor, htmlAttributes: new { @class = "" })
    @Html.EditorFor(model => model.NewSponsor, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessage("", "", new { @class = "text-danger" })
</div>
    <div class="actions">
        <button type="submit" class="ui primary button " name="cmd">@*<i class="fa fa-check"></i>*@&nbsp;@GeneralResource.Save</button>
        <button type="button" class="ui deny button" data-dismiss="modal">@*<i class="fa fa-times"></i>*@&nbsp;@GeneralResource.Close</button>
    </div>

}
<script>

    function OnSuccessChangeSponsor(data) {

   
    if (data) {
        toastr.success("@GeneralResource.toastrSave")
        $('#ChangeSponsor-Model .close').click()

    } else {
          toastr.error("@GeneralResource.toastrOperationFaild")
    }
};
</script>