@model Campus.School.Management.Logic.BusinessLayer.ViewModel.EmployeeTerminationViewModel

<table class="ui very basic fluid large collapsing celled table">
    <tbody>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Employee_ID)</b> 
            </td>

            <td>
                @Html.DisplayFor(model => model.Employee_ID)
            </td>
        
            <td>
                <b>@Html.DisplayNameFor(model => model.Salary)</b>
            </td>

            <td>
                @Html.DisplayFor(model => model.Salary)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.HousingAllowance)</b>
            </td>

            <td>
                @Html.DisplayFor(model => model.HousingAllowance)
            </td>
       
            <td>
                <b>@Html.DisplayNameFor(model => model.EndOfService)</b>
            </td>

            <td>
                @Html.DisplayFor(model => model.EndOfService)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.LastWorkingDate)</b>
            </td>

            <td>
                @Html.DisplayFor(model => model.LastWorkingDate)
            </td>
       
            <td>
                <b>@Html.DisplayNameFor(model => model.Reason)</b>
            </td>

            <td>
                @Html.DisplayFor(model => model.Reason)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.TelNo)</b>
            </td>

            <td>
                @Html.DisplayFor(model => model.TelNo)
            </td>
        </tr>
        
    </tbody>
    </table>
