@model IEnumerable<Campus.School.Management.Logic.BusinessLayer.ViewModel.AspNetRolesViewModel>
@using Campus.School.Management.Logic.Resources

@{
    ViewBag.Title = "Index"; if (!Request.IsAjaxRequest()) { Layout = "~/Views/Shared/_Layout.cshtml"; }
}



@*<script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<div class="ui masthead vertical segment primary">
    <div class="ui container">
        <div class="introduction">
            <h1 class="ui header normal ">
                <clr-icon shape="" size="45"></clr-icon>
                @*<i class="feather  icon-map"></i>*@
                <div id="heading" class="content">
                    @GeneralResource.Roles
                </div>
                <div id="Sub" class="sub header">
                    @String.Format(GeneralResource.DescriptionAddRemove, @GeneralResource.Roles)
                </div>
            </h1>
        </div>
    </div>
</div>

<div class="ui main container">
    <div class="ui  segment anim">
        <div class="toolspace">
            <a href="#" id="Add" class="ui labeled icon primary  button">
                <i class="plus icon"></i>
                @GeneralResource.CreateNew
            </a>
        </div>

        <div class="ui container">
            <div id="div-record">
                @Html.Partial("_ListRoles", Model)
            </div>
        </div>

    </div>
</div>






<div class="ui add small  modal " id="Add-Model" >
    <i class=" close feather icon-x "></i> 
    <div class="header">     
    @GeneralResource.New    
        </div> 
    <div id="divForAdd" class="divForAdd scrolling content"> 
        </div> 
    </div>
 <div class="ui edit small modal " id="Edit-Model" >
    <i class=" close feather icon-x "></i>    
    <div class="header">    
     @GeneralResource.Update
        </div>  
    <div id="divForUpdate" class="divForUpdate scrolling content"> 
        </div>
     </div> 
<div class="ui small modal " id="Delete-Model">   
    <i class=" close feather icon-x "></i> 
    <div class="header"> 
    @GeneralResource.Delete  
        </div>  
    <div id="divForDelete" class="divForDelete content"> 
        </div>
 </div>
<script src="~/Scripts/DevelopmentJS/Roles.js"></script>
